body {
  background-image: url(./Images/fondo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.logo {
  margin-top: 2%;
  border-radius: 10%;

}

.input {
  display: inline;
}